/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Open+Sans&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(240, 4%, 13%);
  --first-color-alt: hsla(240, 1%, 22%);
  --title-color: hsl(249, 100%, 69%);
  --text-color: hsl(0, 0%, 97%);
  --white-color: hsl(0, 0%, 100%);
  --text-color-light: hsl(0, 0%, 53%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, 0.2));
  --filter-img: invert(1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --first-font: "M PLUS Rounded 1c", sans-serif;
  --second-font: "Open Sans", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.2rem;
    --big-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  /*Usando seletor universal para resetar o espaçamento*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /*Permite que a rolagem da página ocorra de forma suave e animada,*/
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--second-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--first-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--first-font);
  font-weight: var(--font-bold);
  line-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  /*Estilização para manter as imagens responsivas*/
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  /* Define um contêiner com largura máxima e margens laterais */
  max-width: 760px;
  margin-inline: 1.5rem;
}

.grid {
  /* Define um layout de grade com espaço entre elementos */
  display: grid;
  gap: 1.5rem;
}

.section {
  /* Define estilos para seções da página com preenchimento e margem superior e inferior */
  padding-block: 1.5rem 1rem;
}

.section__title {
  /* Define estilos para títulos de seção com borda inferior */
  font-size: var(--h1-font-size);
  text-align: initial;
  margin-bottom: 1rem;
  padding-bottom: 3px;
  border-bottom: 3px solid var(--first-color-alt);
  color: var(--text-color);
  display: inline-block;
}

.main {
  overflow: hidden; /* Para animações com ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  /* Estilos para o cabeçalho, posição fixa e transições de fundo */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s;
  z-index: var(--z-fixed);
}

.nav {
  /* Estilos para a barra de navegação, alinhamento de itens */
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  /* Estilos para o logotipo na barra de navegação */
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-family: var(--first-font);
  font-weight: var(--font-bold);
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  transition: color 0.4s;
}
.nav__logo img {
  width: 50px;
  transition: 0.4s;
}

.nav__logo:hover {
  color: var(--title-color);
}

.nav__logo:hover img {
  /*Adicionando uma pequena animação ao passar o mouse em cima*/
  transform: translateY(-0.3rem);
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

/* Menu para dispositivos mobile */
@media screen and (max-width: 780px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    background-color: hsla(240, 4%, 13%, 0.502);
    -webkit-backdrop-filter: blur(
      10px
    ); /*. Para garantir a compatibilidade com outros navegadores,*/
    backdrop-filter: blur(10px);
    padding-block: 4rem 3.5rem;
    transition: top 0.7s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--white-color);
  font-weight: var(--font-regular);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Adiciona Menu */
.show-menu {
  top: 0;
}

/* Adiciona Background e Box Shadow */
.scroll-header {
  background-color: var(--first-color);
  box-shadow: 0px 13px 12px -3px rgba(0, 0, 0, 0.1);
}

/*=============== HOME ===============*/
.home__container {
  place-content: center;
}

.home__image {
  width: 400px;
}

.home__data {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

.home__title {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  color: var(--text-color);
  margin-block: 0.5rem;
}

.home__subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.home__icon {
  border-radius: 50%;
  width: 100px;
  border: 2px solid var(--white-color);
  align-self: center;
  margin-block: 1rem;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.6rem 2rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  background-color: var(--first-color-alt);
  color: var(--white-color);
  border-radius: 5px;
  border: none;
  justify-self: center;
}

/*=============== ABOUT ===============*/
.about__data {
  display: grid;
}

.about__description {
  font-size: var(--normal-font-size);
  text-indent: 1rem;
  margin-bottom: 1rem;
}

/*=============== SOCIALS ===============*/
.socials__data {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.socials__icon {
  color: var(--white-color);
  font-size: var(--h3-font-size);
}

/*=============== PORTFOLIO ===============*/

.portfolio__container {
  justify-content: center;
}

.portfolio__content {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-content: center;
}

.project__title {
  text-align: center;
  color: var(--text-color);
  font-size: var(--h2-font-size);
  margin-top: 1rem;
}

/*=============== EDUCATION ===============*/
.education__data {
  justify-content: center;
}
.education__text {
  padding-left: 4rem;
  text-indent: -3.4rem;
}

.education__text span {
  margin-right: 1rem;
  font-weight: var(--font-bold);
}

.education__image {
  justify-content: center;
}

/*=============== FOOTER ===============*/
.footer__copy {
  font-size: var(--normal-font-size);
  color: var(--text-color-light);
  text-align: center;
  margin-block: 2rem;
}
